@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap');
:root{
    --new-color: rgba(0, 0, 0, 0.40);
    --box-shadow: 0px 16px 30px 0px;
    --background-color: #121212;
    --secondary-color: #1e1e1f;
    --another-color: #2a2a2b;
    --one-more-color: #202021;
    --hint-color: #1e1e1f;
    --highlight-color: #00B850;
    --text-color: #fff;
    --another-text-color: #c8c8c8;
    /* --color-gradient-border-gray: linear-gradient(135deg, #404040 0%, rgba(64, 64, 64, 0) 48.44%); */
}

body{
    background-color: cover;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
}
.container{
    margin-left: 6.5%;
}
.right,.left{
    background-color: var(--secondary-color);
    border-radius: 15px;
    border: 1px solid #383838
}
.right {
    height:fit-content !important;
    -webkit-position: sticky;
    position: sticky; 
    top: 25px;
}
ul{
    list-style-type: none;
    display: inline-flex;
}
.nav-item-link:not(last-child) {
    padding-left: 20px;
}
.nav-item-link {
    text-decoration: none;
    color: white;
}
.nav-item-link:hover {
    color: rgb(210, 210, 210);
}
.nav {
    margin-top: -8px;
    padding-top: 10px;
    padding-bottom: -15px;
    border-radius: 0 15px 0 15px;
    background-color: var(--another-color);
    border: 1px solid #383838
}
.img{
    margin-bottom: 25px;
    height: 175px;
    width: 175px;
    border-radius: 15px;
    background-color: var(--another-color);
}
.job-title{
    padding: 5px;
    background-color: var(--another-color);
    width: 175px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 200;
}
.icon-bg {
    background-color: var(--one-more-color);
    box-shadow: var(--box-shadow) var(--new-color);
    -webkit-box-shadow: var(--box-shadow) var(--new-color);
    /* -webkit-box-shadow: 0px 16px 30px 0px rgba(0, 0, 0, 0.25); */
    /* box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.25); */
    width: 40px;
    height: 40px;
    border-radius: 10px;
}
.head-pro {
    font-size: 12px;
    font-weight: 600;
}
.text-pro {
    font-size: 12px;
    font-weight: 200;
}
.pro-card{
    line-height: 1;
}
.profile-img {
    margin-left: -8% !important;
    width: 175px;
    height: 175px;
    border-radius: 15px;
}
.page-content{
    margin-top: -25px;
    padding-left: 25px;
}
.hr {
    margin-bottom: 20px;
    width: 45px;
    border: none;
    height: 5px;
    border-radius: 15px;
    background: var(--highlight-color);
}
.page-text {
    font-weight: 200;
    width: 98%;
    color: var(--another-text-color);
}
.icon-img {
    padding-left: 10px;
    font-size: 65px;
}
.other{
    width: 375px !important;
    background-color: var(--one-more-color);
    box-shadow: var(--box-shadow) var(--new-color);
    -webkit-box-shadow: var(--box-shadow) var(--new-color);
}
.card-text{
    font-size: 14px;
    font-weight: 200;
}


/* carousel */


@media (max-width: 767px){.carousel-inner .carousel-item >div{display: none}.carousel-inner .carousel-item >div:first-child{display: block}}.carousel-inner .carousel-item.active, .carousel-inner .carousel-item-next, .carousel-inner .carousel-item-prev{display: flex}@media (min-width: 768px){.carousel-inner .carousel-item-end.active, .carousel-inner .carousel-item-next{transform: translateX(25%)}.carousel-inner .carousel-item-start.active, .carousel-inner .carousel-item-prev{transform: translateX(-25%)}}.carousel-inner .carousel-item-end, .carousel-inner .carousel-item-start{transform: translateX(0)}