@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap');
:root{
    --new-color: rgba(0, 0, 0, 0.40);
    --box-shadow: 0px 16px 30px 0px;
    --background-color: #121212;
    --secondary-color: #1e1e1f;
    --another-color: #2a2a2b;
    --one-more-color: #202021;
    --hint-color: #1e1e1f;
    --highlight-color: #00B850;
    --text-color: #fff;
    --another-text-color: #c8c8c8;
    --color-surface-3: #202021;
    --color-btn: linear-gradient(135deg, rgba(45, 45, 46, 0.25) 0%, rgba(27, 27, 28, 0) 100%), #202021;
    /* --color-gradient-border-gray: linear-gradient(135deg, #404040 0%, rgba(64, 64, 64, 0) 48.44%); */
}

body{
    background-color: cover;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
}
.container{
    margin-left: 6.5%;
}
.right,.left{
    background-color: var(--secondary-color);
    border-radius: 15px;
    border: 1px solid #383838
}
.right {
    height:fit-content !important;
    -webkit-position: sticky;
    position: sticky; 
    top: 25px;
}
ul{
    list-style-type: none;
    display: inline-flex;
}
.nav-item-link:not(last-child) {
    padding-left: 20px;
}
.nav-item-link {
    text-decoration: none;
    color: white;
}
.nav-item-link:hover {
    color: rgb(210, 210, 210);
}
.nav {
    margin-top: -8px;
    padding-top: 10px;
    padding-bottom: -15px;
    border-radius: 0 15px 0 15px;
    background-color: var(--another-color);
    border: 1px solid #383838
}
.img{
    margin-bottom: 25px;
    height: 175px;
    width: 175px;
    border-radius: 15px;
    background-color: var(--another-color);
}
.test-img{
    /* margin-bottom: 25px; */
    height: 100px;
    width: 100px;
    border-radius: 15px;
    background-color: var(--another-color);
}
.job-title{
    padding: 5px;
    background-color: var(--another-color);
    width: 175px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 200;
}
.icon-bg {
    background-color: var(--one-more-color);
    box-shadow: var(--box-shadow) var(--new-color);
    -webkit-box-shadow: var(--box-shadow) var(--new-color);
    /* -webkit-box-shadow: 0px 16px 30px 0px rgba(0, 0, 0, 0.25); */
    /* box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.25); */
    width: 40px;
    height: 40px;
    border-radius: 10px;
}
.head-pro {
    font-size: 12px;
    font-weight: 600;
}
.text-pro {
    font-size: 12px;
    font-weight: 200;
}
.pro-card{
    line-height: 1;
}
.profile-img {
    margin-left: -8% !important;
    width: 175px;
    height: 175px;
    border-radius: 15px;
}
.page-content{
    margin-top: -25px;
    padding-left: 25px;
}
.hr {
    margin-bottom: 20px;
    width: 45px;
    border: none;
    height: 5px;
    border-radius: 15px;
    background: var(--highlight-color);
}
.page-text {
    font-weight: 200;
    width: 98%;
    color: var(--another-text-color);
}
.icon-img {
    padding-left: 10px;
    font-size: 65px;
}
.other{
    width: 375px !important;
    background-color: var(--one-more-color);
    box-shadow: var(--box-shadow) var(--new-color);
    -webkit-box-shadow: var(--box-shadow) var(--new-color);
}
.card-text{
    font-size: 14px;
    font-weight: 200;
}

.card {
    background-color: var(--one-more-color);
    box-shadow: var(--box-shadow) var(--new-color);
    -webkit-box-shadow: var(--box-shadow) var(--new-color);
}

li .active {
    color: var(--highlight-color);
}
li .active:hover {
    color: var(--highlight-color);
}


.box--s2::before {
    background-image: var(--color-btn) !important;
    background-color: var(--color-surface-3) !important;
  }

/* resume */
.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #1f5297;
    position: relative;
  }
  .resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    margin-bottom: 10px;
  }
  .resume .resume-item h5 {
    font-size: 16px;
    background: #e4edf9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .resume .resume-item ul {
    padding-left: 20px;
    display: list-item;
  }
  .resume .resume-item ul li {
    list-style-type: disc;
    /* display: list-item; */
    padding-bottom: 10px;
  }
  .resume .resume-item:last-child {
    padding-bottom: 0;
  }
  .resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #1f5297;
  }
  /* new */
  